body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logo img {
    width: 50vw;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
}

#weatherForecast {
    width: 50px;
}

#weatherBox {
    border: 2px solid black;
    background-color: aliceblue;
    width: 90%;
    margin-left: 2.5%;
}

#weatherBox table {
    margin-left: 10px;
}

#forecastLine {
    display: inline-block;
}

#results {
    display: inline-block;
    vertical-align: top;
	width: 45%;
}

#info {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

    #info img {
        width: 400px;
        height: auto;
    }

    #info h3 {
        margin-top: 0;
        text-align: center;
    }

#detailPage {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

    #detailPage img {
        width: 500px;
        border: 2px solid black;
        height: auto;
    }

h2 {
    text-align: center;
}

#detailedInfo {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#detailedInfo p {
    padding: 0;
    margin: 0;
}

#detailPage h3 {
    margin-top: 0;
    text-align: center;
}

#detailFactboxDiv {
    background-color:lightgray;
    border: 2px solid black;
    width: 85%;

} 


table {
    width: 100%;
}

.survey-elements {
    display: inline-block;
}

.survey-elements p {
        width: 200px;
    }

    .survey-elements select {
        width: 200px;
    }
.survey-elements button {
    margin-left: 205px;
}

.survey-elements h2 {
    margin-left: 0px;
}
#survey h2 {
    width: 100px;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

#results #winner{
	width: 500px;
	border: 2px solid black;

}

h3{
	text-align: center;

	margin-bottom: 25px;
}

#results p{
	margin-bottom: 2px;
}

#results #backpack {
	width: 150px;
	margin-left: 35px;
	
}

#webcams {
	margin-left: auto;
	margin-right: auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}