@model IList<NPGeek.Web.Models.ParkModel>

@{
    ViewBag.Title = "Index";
}

<div>
	@foreach (var park in Model)
	{
		<div id="info">
			<a href="@Url.Action("Detail" , "Home", new { parkCode = park.ParkCode })"><img src="~/Content/@(park.ParkCode).jpg" /></a>
		</div>
		<div id="info">
			<h3>@park.Name</h3>
			<p>Location: @park.State</p>
			<p>@park.ParkDescription</p>
		</div>
		<hr />
	}
</div>


