
@{
    ViewBag.Title = "Webcams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bald Eagle's Nest Camera - Channel Islands National Park</h3>
<iframe width="960" height="540" src="https://www.youtube.com/embed/R2EbuOwNASY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h3>Anacapa Ocean Camera - Channel Islands National Park</h3>
<iframe width="960" height="540" src="https://www.youtube.com/embed/nA6my0Pr2Ks" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

