@model  IList<NPGeek.Web.Models.FavoriteParksModel>
@{
    ViewBag.Title = "FavoriteParks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Favorite Parks</h2>

@foreach (var park in Model)
{
    <p>@park.ParkName @park.Total</p>

}

